@import url(https://fonts.googleapis.com/css?family=Lato:regular,500,600,700,800&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:700&display=swap&subset=cyrillic-ext);
* li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* a {
  color: #000000;
  padding: 0;
  margin: 0;
}

* ul {
  padding: 0;
  margin: 0;
}

._label {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4EA4DC;
}

._tag {
  border: none;
  border-radius: 11.5px;
  background-color: #000000;
  width: 35px;
  height: 15px;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  padding: .4px 0;
  text-align: center;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1134px;
  margin: 0 auto;
}

@media (max-width: 1146px) {
  ._container {
    padding: 0 20px;
  }
}

@media (max-width: 992px) {
  ._container {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  ._container {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  ._container {
    padding: 0 10px;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: #3E3457;
}

h1 {
  font-weight: 800;
  font-size: 75px;
  line-height: 93.75px;
  margin: 0;
  color: #ffffff;
}

@media (max-width: 480px) {
  h1 {
    font-size: 67px;
  }
}

h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 50.7px;
  margin: 0;
  color: #ffffff;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
}

h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 0px 0px 0px;
}

._description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 480px) {
  ._description {
    font-size: 18px;
  }
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  margin: 30px 0px 0px 0px;
}

.header__container {
  width: 100%;
}

.header__container .header__menu {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.header__container .header__menu .menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__menu .menu__logo .header__logo {
  width: 67px;
  height: 67px;
}

.header__container .header__menu .logo__name {
  display: none;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.header__container .header__menu .menu__body {
  width: 900px;
}

.header__container .header__menu .menu__body .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding: 0px 10px 0px 10px;
}

.header__container .header__menu .menu__body .menu__nav .nav__item {
  text-align: center;
  width: 170px;
}

.header__container .header__menu .menu__body .menu__nav .nav__item a {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 992px) {
  .header__container .header__menu .menu__body .menu__nav .nav__item a:hover {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    color: white;
  }
}

@media (max-width: 768px) {
  .header__container .header__menu .menu__body .menu__nav .nav__item a {
    font-size: 22px;
  }
}

.header__container .header__menu .menu__button .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 53px;
  color: #fff;
  background-color: #4EA4DC;
  font-weight: 600;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: 5px 5px .7 black;
          box-shadow: 5px 5px .7 black;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  width: 122px;
  height: 50px;
}

@media (min-width: 992px) {
  .header__container .header__menu .menu__button .menu__btn:hover {
    -webkit-transition: ease .45s;
    transition: ease .45s;
    color: #4EA4DC;
    background-color: #fff;
  }
}

.header__container .header__menu .menu__burger {
  position: relative;
  z-index: 11;
  height: 20px;
  width: 30px;
  cursor: pointer;
  display: none;
}

.header__container .header__menu .menu__burger .burger__line {
  -webkit-transition: ease-in .3s all;
  transition: ease-in .3s all;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.header__container .header__menu .menu__burger .burger__line:hover {
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  color: rgba(255, 255, 255, 0.5);
}

.header__container .header__menu .menu__burger .burger__line--first {
  top: 0;
  left: 0;
}

.header__container .header__menu .menu__burger .burger__line--second {
  top: 50%;
}

.header__container .header__menu .menu__burger .burger__line--third {
  top: 50%;
}

.header__container .header__menu .menu__burger .burger__line--fourth {
  top: 100%;
  left: 0;
}

.header__container .header__menu .burger--active .burger {
  -webkit-transition: ease-in .3s all;
  transition: ease-in .3s all;
}

.header__container .header__menu .burger--active .burger__line--first {
  top: 0;
  left: 100%;
  opacity: 0;
}

.header__container .header__menu .burger--active .burger__line--second {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__container .header__menu .burger--active .burger__line--third {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__container .header__menu .burger--active .burger__line--fourth {
  top: 100%;
  left: -100%;
  opacity: 0;
}

.header__container .header__menu .burger__menu {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  padding: 30px;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #4EA4DC;
}

.header__container .header__menu .burger__menu .burger__list {
  margin: 70px 0 0 0;
}

.header__container .header__menu .burger__menu .burger__list .list__item {
  text-align: center;
}

.header__container .header__menu .burger__menu .burger__list .list__item a {
  border-radius: 10px;
  line-height: 2.75em;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  color: white;
}

.header__container .header__menu .menu--active {
  left: 0;
}

@media (max-width: 480px) {
  .menu__body {
    display: none;
  }
  .menu__button {
    display: none;
  }
  .header .header__container .header__menu .menu__logo .header__logo {
    margin: 0 0 0 0;
  }
  .header .header__container .header__menu .logo__name {
    display: block;
  }
  .header .header__container .header__menu .menu__burger {
    display: block;
    margin-right: 15px;
  }
}

* li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* a {
  color: #000000;
  padding: 0;
  margin: 0;
}

* ul {
  padding: 0;
  margin: 0;
}

._label {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4EA4DC;
}

._tag {
  border: none;
  border-radius: 11.5px;
  background-color: #000000;
  width: 35px;
  height: 15px;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  padding: .4px 0;
  text-align: center;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1134px;
  margin: 0 auto;
}

@media (max-width: 1146px) {
  ._container {
    padding: 0 20px;
  }
}

@media (max-width: 992px) {
  ._container {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  ._container {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  ._container {
    padding: 0 10px;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: #3E3457;
}

h1 {
  font-weight: 800;
  font-size: 75px;
  line-height: 93.75px;
  margin: 0;
  color: #ffffff;
}

@media (max-width: 480px) {
  h1 {
    font-size: 67px;
  }
}

h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 50.7px;
  margin: 0;
  color: #ffffff;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
}

h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 0px 0px 0px;
}

._description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 480px) {
  ._description {
    font-size: 18px;
  }
}

.page__promo .promo__container {
  min-height: 850px;
}

.page__promo .promo__container .promo__body {
  padding: 269px 0px 157px 0px;
  max-width: 581px;
}

.page__promo .promo__container .promo__body .promo__label {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4EA4DC;
}

.page__promo .promo__container .promo__body .promo__title {
  line-height: 125%;
}

.page__promo .promo__container .promo__body .promo__text {
  line-height: 160%;
}

.page__promo .promo__container .promo__body .promo__text span {
  border-bottom: 1px #fff 5px;
  color: white;
  font-size: 18;
  font-weight: 700;
}

.page__promo .promo__container .promo__body .promo__text span:hover {
  -webkit-transition: .3s ease-in all;
  transition: .3s ease-in all;
  text-decoration: underline;
  font-size: 20px;
}

.page__promo .promo__container .promo__body .promo__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.page__promo .promo__container .promo__body .promo__buttons .promo__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 53px;
  color: #4EA4DC;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: 5px 5px .7 black;
          box-shadow: 5px 5px .7 black;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
}

@media (min-width: 992px) {
  .page__promo .promo__container .promo__body .promo__buttons .promo__button:hover {
    -webkit-transition: ease .45s;
    transition: ease .45s;
    color: #fff;
    background-color: #4EA4DC;
  }
}

.page__promo .promo__container .promo__body .promo__buttons .promo__button--transparent {
  background-color: transparent;
  border: 1px solid;
}

@media (max-width: 480px) {
  .page__promo .promo__container .promo__body .promo__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page__promo .promo__container .promo__body .promo__buttons .promo__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.page__promo .promo__container .promo__body > *:not(:last-child):not(:first-child) {
  margin: 0px 0px 40px 0px;
}

._background-image {
  background: url("../images/hero_area_image.png"), url("../images/background2.png"), url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 50%;
}

@media (max-width: 768px) {
  ._background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .promo__body {
    position: relative;
    z-index: 3;
  }
  .page__promo {
    position: relative;
  }
}

.page__advantages .advantages__container {
  min-height: 803px;
  padding: 90px 10px 122px 10px;
}

.page__advantages .advantages__container .advantages__body .advantages__title {
  max-width: 608px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.page__advantages .advantages__container .advantages__body .advatages__text {
  max-width: 430px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.page__advantages .advantages__container .advantages__body .advantages__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 352px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page__advantages .advantages__container .advantages__body .advantages__cards .cards__item {
  background-color: #3C3153;
  text-align: center;
  min-height: 352px;
  min-width: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30.333%;
          flex: 0 1 30.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 33px 24px;
  border-radius: 10px;
}

.page__advantages .advantages__container .advantages__body .advantages__cards .cards__item .logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
}

.page__advantages .advantages__container .advantages__body .advantages__cards .cards__item .logo__container .card__logo {
  color: #4EA4DC;
  font-size: 35px;
}

.page__advantages .advantages__container .advantages__body .advantages__cards .cards__item > * {
  margin: 0px 0px 10px 0px;
}

.page__advantages .advantages__container .advantages__body .advantages__cards .cards__item > *:last-child {
  margin: 0px 0px 0px 0px;
}

.page__advantages .advantages__container .advantages__body .advantages__cards .cards__item:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 720px) {
  .page__advantages .advantages__container .advantages__body .advantages__cards {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .page__advantages .advantages__container .advantages__body .advantages__cards .cards__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    padding: 35px 15px 35px 15px;
  }
  .page__advantages .advantages__container .advantages__body .advantages__cards .cards__item:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 480px) {
  .page__advantages .advantages__container .advantages__body .advantages__cards {
    gap: 30px 0px;
  }
  .page__advantages .advantages__container .advantages__body .advantages__cards .cards__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    border-radius: 0px;
  }
}

._background-image2 {
  background: url("../images/background3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.example {
  border-radius: 0px 401px 401px 345.5px;
  background-color: #3f3856;
  padding: 0px 120px 0px 120px;
  width: 100%;
}

.example:hover {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
}

.example .example__container {
  min-height: 675px;
  padding: 50px 10px 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.example .example__container .example__image {
  margin: 0px 100px 0px 0px;
}

.example .example__container .example__image img {
  max-width: 100%;
}

.example .example__container .example__image img:hover {
  border-radius: 15px;
  max-width: 110%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.example .example__container .example__body {
  max-width: 550px;
  min-height: 465px;
}

.example .example__container .example__body .example__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.example .example__container .example__body .example__label .label {
  margin: 0px 10px 0px 0px;
  max-width: 155px;
}

.example .example__container .example__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.example .example__container .example__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 53px;
  color: #fff;
  background-color: #4EA4DC;
  font-weight: 600;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: 5px 5px .7 black;
          box-shadow: 5px 5px .7 black;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  padding: 15px 35px 15px 35px;
}

@media (min-width: 992px) {
  .example .example__container .example__button button:hover {
    -webkit-transition: ease .45s;
    transition: ease .45s;
    color: #4EA4DC;
    background-color: #fff;
  }
}

@media (max-width: 1146px) {
  .example {
    padding: 0px 10px 0px 10px;
    border-radius: 70px;
  }
  .example .example__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px 0px 50px 0px;
  }
  .example .example__container .example__image {
    margin: 0px 0px 40px 0px;
  }
  .example .example__container .example__body {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .example {
    border-radius: 0px;
  }
  .example .example__container .example__image img:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    max-width: 100%;
  }
  .example .example__container .example__body .example__button button {
    width: 100%;
  }
}

.page__experience {
  background-color: #3B3253;
  min-height: 715px;
}

.page__experience .experience__container {
  background-color: #3B3253;
  height: 100%;
  width: 100%;
  padding: 45px 10px 45px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__experience .experience__container .experience__body {
  max-width: 365px;
  margin: 0px 90px 0px 0px;
}

.page__experience .experience__container .experience__body .experience__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__experience .experience__container .experience__body .experience__label .exp__label {
  margin: 0px 10px 0px 0px;
}

.page__experience .experience__container .experience__body .experience__text {
  color: rgba(255, 255, 255, 0.3);
}

.page__experience .experience__container .experience__body .experience__text span {
  color: rgba(255, 255, 255, 0.6);
}

.page__experience .experience__container .experience__body .experience__text span:hover {
  -webkit-transition: .4s all ease-in;
  transition: .4s all ease-in;
  font-size: 22px;
  color: white;
}

.page__experience .experience__container .experience__body .experience__example-images {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 10px;
}

.page__experience .experience__container .experience__body .experience__example-images > *:hover {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
}

.page__experience .experience__container .experience__body .experience__example-images > * {
  border-radius: 10px;
}

.page__experience .experience__container .experience__body .experience__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 10px;
}

.page__experience .experience__container .experience__body .experience__buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 53px;
  color: #fff;
  background-color: #4EA4DC;
  font-weight: 600;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: 5px 5px .7 black;
          box-shadow: 5px 5px .7 black;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (min-width: 992px) {
  .page__experience .experience__container .experience__body .experience__buttons button:hover {
    -webkit-transition: ease .45s;
    transition: ease .45s;
    color: #4EA4DC;
    background-color: #fff;
  }
}

.page__experience .experience__container .experience__body .experience__buttons .experience__button2 {
  color: #4EA4DC;
  background-color: transparent;
  border: 1px solid #4EA4DC;
}

.page__experience .experience__container .experience__body > *:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.page__experience .experience__container .experience__image img {
  max-width: 100%;
}

.page__experience .experience__container .experience__image img:hover {
  border-radius: 15px;
  max-width: 110%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1146px) {
  .page__experience .experience__container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
  }
  .page__experience .experience__container .experience__body {
    max-width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .page__experience .experience__container .experience__body .experience__example-images {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .page__experience .experience__container .experience__body .experience__example-images img {
    max-width: 100%;
  }
  .page__experience .experience__container .experience__body .experience__buttons button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 150px;
            flex: 0 1 150px;
  }
  .page__experience .experience__container .experience__image {
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 480px) {
  .page__experience .experience__container .experience__body .experience__example-images {
    display: none;
  }
  .page__experience .experience__container .experience__body .experience__example-images img:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .page__experience .experience__container .experience__body .experience__buttons button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.downloads {
  min-height: 675px;
  padding: 225px 0px 0px 0px;
}

.downloads__container {
  padding: 100px 0px 100px 0px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.downloads__container .downloads__image {
  margin: 0px 200px 160px 0px;
}

.downloads__container .downloads__body .downloads__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.downloads__container .downloads__body .downloads__links .download__link_1 {
  margin: 0px 10px 10px 0px;
}

.downloads__container .downloads__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

@media (max-width: 992px) {
  .downloads__container .downloads__image {
    margin: 0px 75px 160px 0px;
  }
}

@media (max-width: 768px) {
  .downloads__container .downloads__image {
    display: none;
  }
}

.page__sales .sales__container {
  min-height: 866px;
  padding: 130px 10px 130px 10px;
}

.page__sales .sales__container .sales__title {
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.page__sales .sales__container .sales__text {
  margin: 0px 0px 60px 0px;
  text-align: center;
}

.page__sales .sales__container .sales__games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 20px;
  min-height: 470px;
}

.page__sales .sales__container .sales__games .game__item .game__image {
  margin: 0px 0px 30px 0px;
}

@media (min-width: 992px) {
  .page__sales .sales__container .sales__games .game__item .game__image:hover {
    border-radius: 15px;
    max-width: 110%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.3);
  }
}

.page__sales .sales__container .sales__games .game__item .game__body .game__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__sales .sales__container .sales__games .game__item .game__body .game__price .price__container {
  width: 40px;
  height: 20px;
  background-color: #4EA4DC;
  color: #fff;
  border-radius: 3px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 2px 0px 2px 0px;
  text-align: center;
}

.page__sales .sales__container .sales__games .game__item .game__body .game__price .price__amount {
  text-decoration: line-through;
}

.page__sales .sales__container .sales__games .game__item .game__body .game__price .price__final {
  color: #fff;
}

.page__sales .sales__container .sales__games .game__item > .game__body > *:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.page__sales .sales__container .sales__games .price > *:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

@media (max-width: 992px) {
  .page .page__promo .promo__container .promo__body .promo__text span:hover {
    -webkit-transition: none;
    transition: none;
    text-decoration: none;
    font-size: 16px;
  }
}

* li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* a {
  color: #000000;
  padding: 0;
  margin: 0;
}

* ul {
  padding: 0;
  margin: 0;
}

._label {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4EA4DC;
}

._tag {
  border: none;
  border-radius: 11.5px;
  background-color: #000000;
  width: 35px;
  height: 15px;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  padding: .4px 0;
  text-align: center;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1134px;
  margin: 0 auto;
}

@media (max-width: 1146px) {
  ._container {
    padding: 0 20px;
  }
}

@media (max-width: 992px) {
  ._container {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  ._container {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  ._container {
    padding: 0 10px;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: #3E3457;
}

h1 {
  font-weight: 800;
  font-size: 75px;
  line-height: 93.75px;
  margin: 0;
  color: #ffffff;
}

@media (max-width: 480px) {
  h1 {
    font-size: 67px;
  }
}

h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 50.7px;
  margin: 0;
  color: #ffffff;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
}

h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 0px 0px 0px;
}

._description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 480px) {
  ._description {
    font-size: 18px;
  }
}

footer {
  min-height: 409px;
  background-color: #000;
}

footer .footer-part1 {
  padding: 90px 10px 40px 10px;
  min-height: 316px;
  width: 100%;
}

footer .footer-part1 .footer-part1__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-part1 .footer-part1__body .footer__logo {
  max-width: 225px;
  min-height: 260px;
}

footer .footer-part1 .footer-part1__body .footer__logo .logo {
  margin: 0px 0px 20px 0px;
}

footer .footer-part1 .footer-part1__body .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 225px;
  min-height: 260px;
}

footer .footer-part1 .footer-part1__body .footer__list .footer__item {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

footer .footer-part1 .footer-part1__body .footer__list .footer__item:hover {
  color: white;
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

footer .footer-part1 .footer-part1__body .footer__list .footer__item .item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-part1 .footer-part1__body .footer__list .footer__item .item__icon .footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #292929;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 13px 0px 0px;
}

footer .footer-part1 .footer-part1__body .footer__list .footer__item .item__icon .footer__icon i {
  color: #FFFFFF;
  font-size: 12px;
}

footer .footer-part1 .footer-part1__body .footer__list .footer__item .item__icon .footer__contact:hover {
  color: white;
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

footer .footer-part1 .footer-part1__body .footer__list .footer__item .footer__icons {
  padding: 0px 0px 0px 7px;
}

footer .footer-part1 .footer-part1__body .footer__list .footer__item .footer__icons .fa-brands {
  color: #FFFFFF;
  font-size: 18px;
}

footer .footer-part1 .footer-part1__body .footer__list .footer__item .footer__icons .fa-brands:not(:last-child) {
  margin: 0px 31px 0px 0px;
}

footer .footer-part1 .footer-part1__body .footer__list > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

footer .footer__seporator {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  border: 1px solid #FFFFFF;
}

footer .footer-part2 {
  padding: 25px 10px 25px 10px;
  min-height: 93px;
  width: 100%;
}

footer .footer-part2 .footer-part2__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-part2 .footer-part2__body .footer__copyright {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

footer .footer-part2 .footer-part2__body .footer__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-part2 .footer-part2__body .footer__policy .policy {
  margin: 0px 31px 0px 0px;
}

* li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* a {
  color: #000000;
  padding: 0;
  margin: 0;
}

* ul {
  padding: 0;
  margin: 0;
}

._label {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4EA4DC;
}

._tag {
  border: none;
  border-radius: 11.5px;
  background-color: #000000;
  width: 35px;
  height: 15px;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  padding: .4px 0;
  text-align: center;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1134px;
  margin: 0 auto;
}

@media (max-width: 1146px) {
  ._container {
    padding: 0 20px;
  }
}

@media (max-width: 992px) {
  ._container {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  ._container {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  ._container {
    padding: 0 10px;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: #3E3457;
}

h1 {
  font-weight: 800;
  font-size: 75px;
  line-height: 93.75px;
  margin: 0;
  color: #ffffff;
}

@media (max-width: 480px) {
  h1 {
    font-size: 67px;
  }
}

h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 50.7px;
  margin: 0;
  color: #ffffff;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
}

h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 0px 0px 0px;
}

._description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 480px) {
  ._description {
    font-size: 18px;
  }
}

* li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* a {
  color: #000000;
  padding: 0;
  margin: 0;
}

* ul {
  padding: 0;
  margin: 0;
}

._label {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4EA4DC;
}

._tag {
  border: none;
  border-radius: 11.5px;
  background-color: #000000;
  width: 35px;
  height: 15px;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  padding: .4px 0;
  text-align: center;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1134px;
  margin: 0 auto;
}

@media (max-width: 1146px) {
  ._container {
    padding: 0 20px;
  }
}

@media (max-width: 992px) {
  ._container {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  ._container {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  ._container {
    padding: 0 10px;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: #3E3457;
}

h1 {
  font-weight: 800;
  font-size: 75px;
  line-height: 93.75px;
  margin: 0;
  color: #ffffff;
}

@media (max-width: 480px) {
  h1 {
    font-size: 67px;
  }
}

h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 50.7px;
  margin: 0;
  color: #ffffff;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
}

h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 0px 0px 0px;
}

._description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 480px) {
  ._description {
    font-size: 18px;
  }
}

.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
}
