@import "_settings.scss";
.page{
   &__promo {
      .promo__container{
         min-height: 850px;
         .promo__body{
            padding: 269px 0px 157px 0px;
            max-width: 581px;
            .promo__label {
               font-family: 'Lato', sans-serif;
               font-weight: 400;
               font-size: 18px;
               line-height: 120%;
               letter-spacing: 0.05em;
               text-transform: uppercase;
               color: #4EA4DC;
            }
            .promo__title {
               line-height: 125%;
            }
            .promo__text {
               line-height: 160%;
               span{
                  border-bottom: 1px #fff 5px;
                  color: white;
                  font-size: 18;
                  font-weight: 700;
                  &:hover{
                     transition: .3s ease-in all;
                     text-decoration: underline;
                     font-size: 20px;
                  }
               }
            }
            .promo__buttons {
               display: flex;
               justify-content: flex-start;
               gap: 10px;
               .promo__button {
                  flex: 0 1 50%;
                  @include tplbutton (#4EA4DC ,#fff);
               }
               .promo__button--transparent {
                  background-color: transparent;
                  border: 1px solid;
               }
               @media (max-width: $md4){
                  flex-wrap: wrap;
                  .promo__button{
                     flex: 0 1 100%;
                  }
               }
            }
            
         }
         
         .promo__body > *:not(:last-child):not(:first-child){
            margin: 0px 0px 40px 0px;
         }
      }
   }  
}

._background-image{
   background: url("../images/hero_area_image.png"), url("../images/background2.png"), url("../images/background.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 80% 50%;
}
@media (max-width:$md3){
   ._background-image:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.4);
      z-index: 2;
      width: 100%;
      height: 100%;
   }
   .promo__body{
      position: relative;
      z-index: 3;
   }
   .page__promo{
      position: relative;
   }
}
