@import "_settings.scss";
.page{
   &__promo {
      .promo__container{
         min-height: 850px;
         .promo__body{
            padding: 269px 0px 157px 0px;
            max-width: 581px;
            .promo__label {
               font-family: 'Lato', sans-serif;
               font-weight: 400;
               font-size: 18px;
               line-height: 120%;
               letter-spacing: 0.05em;
               text-transform: uppercase;
               color: #4EA4DC;
            }
            .promo__title {
               line-height: 125%;
            }
            .promo__text {
               line-height: 160%;
               span{
                  border-bottom: 1px #fff 5px;
                  color: white;
                  font-size: 18;
                  font-weight: 700;
                  &:hover{
                     transition: .3s ease-in all;
                     text-decoration: underline;
                     font-size: 20px;
                  }
               }
            }
            .promo__buttons {
               display: flex;
               justify-content: flex-start;
               gap: 10px;
               .promo__button {
                  flex: 0 1 50%;
                  @include tplbutton (#4EA4DC ,#fff);

               }
               .promo__button--transparent {
                  background-color: transparent;
                  border: 1px solid;
               }
               @media (max-width: $md4){
                  flex-wrap: wrap;
                  .promo__button{
                     flex: 0 1 100%;
                  }
               }
            }
            
         }
         
         .promo__body > *:not(:last-child):not(:first-child){
            margin: 0px 0px 40px 0px;
         }
      }
   }  
}

._background-image{
   background: url("../images/hero_area_image.png"), url("../images/background2.png"), url("../images/background.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 80% 50%;
}
@media (max-width:$md3){
   ._background-image:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.4);
      z-index: 2;
      width: 100%;
      height: 100%;
   }
   .promo__body{
      position: relative;
      z-index: 3;
   }
   .page__promo{
      position: relative;
   }
}
//--------------------------------------Advantages section------------------------------------------------------------------------
.page__advantages{
   .advantages__container{
      min-height: 803px;
      padding: 90px 10px 122px 10px;
      
      .advantages__body {
         .advantages__title {
            max-width: 608px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 25px;
         }
         .advatages__text {
            max-width: 430px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 70px;
         }
         .advantages__cards {
            display: flex;
            min-height: 352px;
            justify-content: space-around;
            .cards__item {
               background-color: #3C3153;
               text-align: center;
               min-height: 352px;
               min-width: 100px;
               flex: 0 1 30.333%;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               padding: 33px 24px;
               border-radius: 10px;
               .logo__container{
                  display:flex;
                  justify-content: center;
                  align-items: center;
                  width: 82px;
                  height: 82px;
                  border-radius: 50%;
                  border: none;
                  background-color: #fff;
                  .card__logo {
                     color:  #4EA4DC;
                     font-size: 35px;
                  }
               }
            }
            .cards__item > *{
               margin: 0px 0px 10px 0px;
            }
            .cards__item > *:last-child{
               margin: 0px 0px 0px 0px;
            }
            .cards__item:hover{
               transition: all .3s ease;
               box-shadow: 0px 0px 40px 10px rgba($color: #000000, $alpha: .3);
            }
            @media (max-width: 720px){
               justify-content: flex-start;
               flex-wrap: wrap;
               gap: 30px;
               .cards__item{
                  flex: 1 1 40%;
                  padding: 35px 15px 35px 15px;
               }
               .cards__item:last-child{
                  flex: 0 1 100%
               }

            }
            @media (max-width: $md4){
               gap: 30px 0px;
               .cards__item{       
                  flex: 0 1 100%;
                  border-radius: 0px;
               }
            }
         }
      }
   }
}

._background-image2{
   background: url("../images/background3.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
//------------------------------------------Example Section---------------------------------------------------------------------------------
   .example{
      border-radius: 0px 401px 401px 345.5px;
      background-color: #3f3856;
      padding: 0px 120px 0px 120px;
      width: 100%;
      &:hover{
         transition: .3s all ease;
         box-shadow: 0px 0px 40px 10px rgba($color: #000000, $alpha: .3);
      }
      .example__container{
         min-height: 675px;
         padding: 50px 10px 50px 10px;
         display:flex;
         justify-content: center;
         align-items: center;
         .example__image{
            img{
               max-width: 100%;
               height: 100%;
               &:hover{
                  border-radius: 15px;
                  max-width: 110%;
                  transition: all .4s ease;
               }
            }
            margin: 0px 100px 0px 0px;
         }
         .example__body{
            max-width: 550px;
            min-height: 465px;
            .example__label{
               display: flex;
               justify-content: start;
               align-items: center;
               .label{
                  margin: 0px 10px 0px 0px;
                  max-width: 155px;
               }
               .example__tag {          
               }
            }
            & > *:not(:last-child){
               margin: 0px 0px 35px 0px;
            }
         }
         .example__title{

         }
      
         .example__text{

         }
      
         .example__button{
            button{
               @include tplbutton (#fff, #4EA4DC);
               padding: 15px 35px 15px 35px;
            }
         }
      }
   }
   @media(max-width: $md1){
      .example{
         padding: 0px 10px 0px 10px;
         border-radius: 70px;
         .example__container{
            flex-wrap: wrap;
            padding: 50px 0px 50px 0px;
            .example__image{
               margin: 0px 0px 40px 0px;
            }
            .example__body{
               max-width: 100%;
            }
         }
      }
   }
   @media(max-width:$md4){
      .example{
         .example__container{
            .example__image{

            }
            .example__body{
               .example__button{
                  button{
                     width: 100%;
                  }
               }
            }
         }
      }
   }
//------------------------------------------------Experience section------------------------------------------------------------------
.page__experience {
   background-color: #3B3253;
   min-height: 715px;
   .experience__container {
      background-color: #3B3253;
      height: 100%;
      width: 100%;
      padding: 45px 10px 45px 10px;
      display:flex;
      justify-content: center;
      align-items: center;
      .experience__body {
         max-width: 365px;
         margin: 0px 90px 0px 0px;
         .experience__label {
            display: flex;
            justify-content: start;
            align-items: center;
            .exp__label {
               margin: 0px 10px 0px 0px;
            }
         }
         .experience__text {
            color: rgba($color: #fff, $alpha: .3);
            span{
               color: rgba($color: #fff, $alpha: .6);
               &:hover{
                  transition: .4s all ease-in;
                  font-size: 22px;
                  color: rgba($color: #fff, $alpha: 1);
               }
            }
         }
         .experience__example-images {
            border-radius: 5px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap: 0px 10px;
            & > *:hover{
               transition: all .4s ease;
               box-shadow: 0px 0px 40px 10px rgba($color: #000000, $alpha: .3);
            }
            & > *{
               border-radius: 10px;
            }
         }
         .experience__buttons {
            display: flex;
            gap: 0px 10px;
            button{
               @include tplbutton (#fff, #4EA4DC);
               flex: 0 1 50%;
            }
            .experience__button2{
               color: #4EA4DC;
               background-color: transparent;
               border: 1px solid #4EA4DC;
            }
         }
      }
      .experience__body > *:not(:last-child){
         margin: 0px 0px 40px 0px;
      }
      .experience__image{
         img{
            max-width: 100%;
            &:hover{
               border-radius: 15px;
               max-width: 110%;
               transition: all .4s ease;
               box-shadow: 0px 0px 40px 10px rgba($color: #000000, $alpha: .3);
            }
         }      
      }
   }
}
@media (max-width:$md1){
   .page__experience {
      .experience__container {
         flex-wrap: wrap-reverse;
         justify-content: start;
         width: 100%;
         .experience__body {
            max-width: 100%;
            margin: 0px 0px 0px 0px;
            .experience__example-images {
               justify-content: start;
               img{
                  max-width: 100%;
               }
            }
            .experience__buttons {gir
               button{
                  flex: 0 1 150px;
               }
            }
         }
         .experience__image{
            margin: 0px 0px 40px 0px;  
         }
      }
   }
}
@media(max-width:$md4){
   .page__experience {
      .experience__container {
         .experience__body {
            .experience__example-images {
               display: none;
            }
            .experience__buttons {
               button{
                  flex: 0 1 50%;
               }
            }
         }
      }
   } 
}





