@import "_header";
@import "_main";
@import "_footer";
@import "_fonts";
//Общие стили-------------------------------------------------------------------------------------------------------------------------------------
*{
   li{
       list-style: none;
   }
   a{
       color: #000000;
   }
}

//Переменные---------------------------------------------------------------------------------------------------------------------------
$maxWidth: 1600px;
$minWidth: 320px;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 480;
//Миксины------------------------------------------------------------------------------------------------------------------------------
@mixin tplbutton ($c, $bc){
   color: $c;
   background-color: $bc;
   font-weight: 600;
   font-size: 16px;
   border: none;
   box-shadow: 5px 5px .7 black;
   padding: 15px 50px;
   border-radius: 5px;
   font-family: $fontFamily;
   &:hover{
      transition: ease .45s;
      color: $bc;
      background-color: $c;
       
      padding: 15px 50px;
   }
}
//Оболочка-----------------------------------------------------------------------------------------------------------------------------
.wrapper{
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
//Основная сетка-----------------------------------------------------------------------------------------------------------------------
._container{
   max-width: $maxWidthContainer + px;
   margin: 0 auto;

   @media (max-width:$md1 + px)
   {
      padding: 0 20px;
   }

   @media (max-width: $md2 + px)
   {
      padding: 0 10px;
   }

   @media (max-width: $md3 + px)
   {   
      padding: 0 10px;
   }
   @media (max-width: $md4 + px)
   {   
      padding: 0 10px;
   }
}
//Шрифт по умолчанию--------------------------------------------------------------------------------------------------------------------
$fontFamily: "Lato", sans-serif;
body{
   font-family: $fontFamily;
}
//-------Заголовки----------------------------------------------------------------------------------------------------------------------
h1{
   font-weight: 800;
   font-size: 75px;
   line-height: 93.75px;
   margin: 0;
   color: #ffffff;
}
h2{
   font-weight: 700;
   font-size: 39px;
   line-height: 50.7px;
   margin: 0;
   color: #ffffff;
}
h3{
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
   color: #ffffff;
}
h4{
   font-weight: 600;
   font-size: 16px;
   line-height: 19px;
}
//----Текст-----------------------------------------------------------------------------------------------------------------------------
._description{
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: rgba($color: #ffffff, $alpha: .6);
}
//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------

//-------------------------------------------------------------------------------------------------------------------------------------


